<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body form_container">
      <h4 class="text-center mb-3 font-color">登入帳號</h4>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label for="email" class="input-group-text bg-light">
                Email
              </label>
            </div>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label for="password" class="input-group-text bg-light">
                密碼
              </label>
            </div>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <button type="submit" class="btn btn-info btn-block delete_button">登入</button>
      </form>

      <p class="lead mt-4">
        沒有帳號? <a href="/users/register">註冊新帳號</a>
      </p>
    </div>
  </div>
</div>